# Compiled Object files
toto*.step
*.slo
*.lo
*.o
*.orig
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# log files
*.log

node_modules
build

.idea
/toto.STEP
/backup
/debugHelper
