# Compiled Object files
toto*.step
*.slo
*.lo
*.o
*.orig
# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# log files
*.log

node_modules
build

.idea
/toto.STEP
/backup
/debugHelper
/sample/node_modules
/sample/public/javascripts/*.bak
/lib/*.bak

toto.*
deps/
/a.html
/occ_.h
*.bak
/t.html
/t.js
/*.sublime-project
/*.sublime-workspace

/src/*.swp

*.swp

/sample/node_modules
/sample/client/*.js~
*.html~
/sample/views/*.ejs~

build_oce*/

dist
node-occ-package*
extrudedFace.step
lib/binding
*.tgz
npm-debug*
occt-*

bower_components
