build*/
sample/
dist/
sample_angular2
oce/
occt-7.1.0/
test_electron
.eslintrc
a.txt
extrudedFace.step
jasmine*
Jasmine*
npm-debug*
*.sh
*.bat
t.js
Gruntfile.js
#.gitmodules
Makefile
.travis.yml
appveyor.yml
*.tgz
*.zip
src
node-occ-package2
.gitattributes
.idea
*.step
lib/binding


