language: cpp

os:
  - linux
  - osx

# sudo: required

env:
  matrix:
  - TRAVIS_NODE_VERSION="6"
  #- TRAVIS_NODE_VERSION="6" ARCH="x86"
  - TRAVIS_NODE_VERSION="7"
  #- TRAVIS_NODE_VERSION="7" ARCH="x86"
  #- TRAVIS_ELECTRON_VERSION="1.4.14" TRAVIS_NODE_VERSION="6"

matrix:
  exclude:
  - os: osx
    env: TRAVIS_NODE_VERSION="6"
  - os: osx
    env: TRAVIS_NODE_VERSION="6" ARCH="x86"
  - os: osx
    env: TRAVIS_NODE_VERSION="7"
  #- os: osx
  # env: TRAVIS_NODE_VERSION="7" ARCH="x86"

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - cmake-2.8.12

before_install:
# reinstall latest nvm
- rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh
- nvm install $TRAVIS_NODE_VERSION
- PATH=$PATH:`pwd`/node_modules/.bin
- BASE_URL=$(node -p "'https://nodejs.org/dist/' + process.version")
- X86_FILE=$(node -p "'node-' + process.version + '-' + process.platform + '-x86'")
# download node if testing x86 architecture
- >
  if [[ "$ARCH" == "x86" ]]; then
    wget $BASE_URL/$X86_FILE.tar.gz
    tar -xf $X86_FILE.tar.gz
    export PATH=$X86_FILE/bin:$PATH
    ls $X86_FILE/bin
    echo " PATH =" $PATH
  fi;
  true;

# print versions
- uname -a
- file `which node`
- node --version
- node -p 'process.platform + "@" + process.arch'
- npm --version

# use g++ on linux
- if [[ $TRAVIS_OS_NAME == "linux" ]]; then export CXX=g++-4.8; fi
- $CXX --version

# compile OCE
- bash ./prepare_build_occt.sh
# compile Node-OCC
- bash ./prepare_node.sh

git:
  submodules: false  

install:
- npm install --build-from-source

script:
- >
  if [[ -z $TRAVIS_ELECTRON_VERSION ]]; then
    node ./
    npm test
  else
    electron test_electron
    electron_mocha test
  fi;
  true;

# if publishing, do it
- if [[ $PUBLISH_BINARY == true ]]; then node-pre-gyp package; fi;
- if [[ $PUBLISH_BINARY == true ]]; then node-pre-gyp-github publish --release; fi;

# cleanup
- node-pre-gyp clean

cache:
  directories:
  - build_oce
