.toolbar {
  position: absolute;
  margin-top: 15px;
  background-color: rgba(27, 58, 179, 0.28);
}

.canvas {
  background-color: #8893a5;
  margin: 0px;
  overflow: hidden;
  background-image: -webkit-gradient(#d1e5fc, #8893a5, #d7dee8);
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image: -webkit-linear-gradient(#d1e5fc, #8893a5, #d7dee8);
  /* Firefox 3.6 - 15 */
  background-image: -moz-linear-gradient(#d1e5fc, #8893a5, #d7dee8);
  /* Opera 11.1 - 12 */
  background-image: -o-linear-gradient(#d1e5fc, #8893a5, #d7dee8);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image: linear-gradient(#d1e5fc, #8893a5, #d7dee8);
}
